body{
    background-color: silver!important;
}

input{
    border: none;
    width: 80%;
    height: 95px;
    background-color: rgb(150, 85, 85);
    border-radius: 20px;
    color: #000;
    opacity: 0.9;
}
input[type="submit"]:hover{
    cursor: pointer;
    background: brown;
    color: #fff;
}
  #particles-js {
    background-color: silver;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  
