body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    color: #505962;
    
}

/* ---- Navbar ---*/
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,.6)!important;
}
.navbar-brand img{
    height: 2rem;
}
.navbar-nav li{
    padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .navbar-link{
    color: white;
    padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
     color: #1ebba3;
}

.carousel-item{
    height: 100vh;
}
form{
    width: 500px;
    margin-left: 400px;

}


  
  
  
